.ui.top.attached.raised.inverted.header Informatie
.ui.bottom.attached.raised.inverted.segment.bottom-shadow
    table.ui.inverted.table
        tr
            td Prijs
            td &euro; #{price}
        tr
            td Prijs P.P.
            td &euro; #{pprice}
        tr
            td Personen
            td #{personCount}
        tr
            td Kogels
            td 50*
    p * 150 extra kogels voor &euro; 15,- op locatie.