.ui.top.attached.raised.inverted.header Betaling
.ui.bottom.attached.raised.inverted.segment.bottom-shadow
    p Bedrag voor het paintballen (&euro; 3,20) overmaken op:
    .ui.label
        | NL82ABNA0541623222
        br
        | ten name van
        br
        | RGJ Kuiper
    .ui.divider
    p Bedrag voor het vervoer regelen met de vervoerder.
    .ui.label Auto: Dennis
    .ui.divider
    p Bedrag voor eventueel extra kogels wordt betaald op locatie.