.ui.top.attached.raised.inverted.header Vervoer
.ui.bottom.attached.raised.inverted.segment.bottom-shadow
    .ui.inverted.list
        .item
            .header Car
            p Auto kunnen max 5 man in, prijs is benzinegeld gedeeld door inzittenden.
        .ui.divider
        .item
            .header OV
            p
                | OV is berekend op Martenshoek/Assen (retour), indien je samenreist met iemand met OV Student kan je 40% korting krijgen.
                br
                | Als er 5 man of meer met het OV reizen is het goedkoper om NS Groepsreizen te nemen.
        .ui.divider
        .item
            .header OV Student
            p
                | Reizen gratis, vraag iemand zonder OV Student om mee te reizen met 40% korting, anders ben je een
                strong eikel
                |.
        .ui.divider
        .item
            .header Fiets/Lopens
            p Sportief!